<div class="card">
          <div class="card-header">
          <h4>Current Reservation</Table></h4>
          </div>

          <ul class = "one">
            {{#each reservations }}
            <li class="two">
              <a class ="three">
                <h2>Date: {{dataValues.date}}</h2>
                <h2>Time: {{dataValues.time}}</h2>
                <h2>Type: {{dataValues.type}}</h2>
                <h2>Party Size: {{dataValues.partySize}}</h2>
              </a>
            </li>
            {{/each}}
          </ul>

<div class="card">
            <div class="card-header">
            <h4>Table Reservation</Table></h4>
        </div>
        <div class="card-body">
          <ul id="tableList" class="list-group"></ul>
        </div>
      </div>

        <div class="row">
                <div class="col-lg-6">
                <div class="card-body">
                      <form role="form">
                          <div class="form-group">
                              <label for="reserve-type">Table Type</label>
                                <select name="reserve-type" id="reserve-type">
                                  <option value="regular">Regular</option>
                                  <option value="firepit">Firepit</option>
                                </select>
                            </div>





                            
                        <div class="form-group">
                          <label for="reserve-name">Name</label>
                          <input type="text" class="form-control" id="reserve-name">
                        </div>
                        <div class="form-group">
                          <label for="reserve-phone">Phone Number</label>
                          <input type="text" class="form-control" id="reserve-phone">
                        </div>
                        <div class="form-group">
                            <label for="reserve-email">Email</label>
                            <input type="email" class="form-control" id="reserve-email">
                          </div>
                        <div class="form-group">
                          <label for="reserve-date">Date</label>
                          <input type="date" class="form-control" id="reserve-date">
                        </div>
                        <div class="form-group">
                          <label for="reserve-time">Time</label>
                          <input type="time" class="form-control" id="reserve-time">
                        </div>
                        <div class="form-group">
                            <label for="reserve-number">Number of Party</label>
                            <input type="number" class="form-control" id="reserve-number">
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>